.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-nombre {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 0.8rem;
}

.titulo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.nav-enlaces a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-enlaces a:hover {
  color: #646cff;
}

.logout-btn {
  background: transparent;
  border: none;
  color: #ff4d4d;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
.logout-btn:hover {
  text-decoration: underline;
}
