.tabla-usuarios {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.tabla-usuarios tr:nth-child(even) {
  background-color: #fafafa;
}

.admin-users-container h1 {
  margin-left: 40px;
}

.acciones-usuario {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.btn-eliminar-usuario {
  padding: 6px 10px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-eliminar-usuario:hover {
  background: #c9302c;
}
