.detalle-viaje-container {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-volver {
  background: #0077cc;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-volver:hover {
  background: #0077cc;
}

h1 {
  margin-bottom: 5px;
}

.destino {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 20px;
}

.info-box p {
  margin: 8px 0;
}

.btn-accion {
  margin-top: 20px;
  padding: 10px 15px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-accion:hover {
  background: #005fa3;
}

.btn-inscribir {
  margin-top: 20px;
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
}

.btn-inscribir:hover {
  background: #218838;
}

.btn-salir {
  margin-top: 12px;
  padding: 10px 15px;
  background: #ff8f07cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
}

.btn-salir:hover {
  background: #e08300c8;
}

.btn-eliminar {
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px 15px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-eliminar:hover {
  background: #c9302c;
}
