.pagina-inicio {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.enlaces {
  margin-top: 1.5rem;
}

.enlaces a {
  margin-right: 1rem;
}

.btn-dashboard {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-dashboard:hover {
  background-color: #005fa3;
}
